
.login{
    color: var(--blue-light-color);
    font-weight: 700;
    font-size: 0.875rem; /*14px*/
    letter-spacing: 0.2px;
    line-height: 24px;
    text-decoration: none;
}
.login i{
    font-size: 0.9rem;
    margin-right: 5px;
}