.title{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}
.title h4{
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: var(--font-color);
    margin-bottom: 10px;
}
.title h2{
    font-weight: 700;
    font-size: 3.063rem;
    line-height: 58px;
    letter-spacing: 0.2px;
    color: var(--font-bold-color);
    margin-bottom: 10px;
}
.title p{
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: var(--font-color);
    margin-bottom: 80px;
}
@media screen and (max-width: 600px) {
    .title h2{
        font-weight: 500;
        font-size: 1.625rem;
        line-height: 30px;
        letter-spacing: 0.1px;
    }
}