header{
    position: relative;
    width: 100%;
    height: calc(100vh);
    background-image: url('/public/assets/images/header.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    color: #fff;
}
header .container{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}
header .title{
    display: flex;
    flex-direction: column;
    gap: 21px;
}
@media screen and (max-width: 768px) {
    header{
        height: calc(180vh);
    }
    header .title{
        align-items: center;
    }
}