:root{
  --green-color: #23856D;
  --blue-color: #2A7CC7;
  --white-light-bg-color: #FAFAFA;
  --blue-light-color: #23A6F0;
  --blue-lightest-color: #8EC2F2;
  --green-light-color: #2DC071;
  --font-color: #737373;
  --font-bold-color: #252B42;
  --yellow-color: #F3CD03;
  --red-color: #E74040;
  --font-raleway-small: 0.813rem;
}
@font-face {
  font-family: 'Monserrat';
  src: url('/public/assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Raleway';
  src: url('/public/assets/fonts/Raleway-Regular.ttf');
}
@font-face {
  font-family: 'Oswald';
  src: url('/public/assets/fonts/Oswald-Regular.ttf');
}
.montserrat{
  font-family: Monserrat, Fallback, sans-serif;
}
.raleway{
  font-family: Raleway, Fallback, sans-serif;
}
.oswald{
  font-family: Oswald, Fallback, sans-serif;
}