:root{
  --green-color: #23856D;
  --blue-color: #2A7CC7;
  --white-light-bg-color: #FAFAFA;
  --blue-light-color: #23A6F0;
  --blue-lightest-color: #8EC2F2;
  --green-light-color: #2DC071;
  --font-color: #737373;
  --font-bold-color: #252B42;
  --yellow-color: #F3CD03;
  --red-color: #E74040;
}