.read-more{
    color: #fff;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 22px;
    letter-spacing: 0.2px;
    border: 1px solid #FFF;
    border-radius: 37px;
    background-color: transparent;
    width: 25%;
    padding: 15px 36px;
}
@media screen and (max-width: 768px) {
    .read-more{
        padding: 10px 36px;
        width: 60%;
    }
}