.navbar{
    background-color: #fff !important;
    padding: 25px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.container-fluid{
    gap: 7.688rem; /*123px*/
}
.navbar-nav{
    gap: 0.688rem;
}
.navbar-toggler{
    flex-basis: 20%;
    border: none;
}
.nav-link{
    color: var(--font-color);
    font-weight: 300;
    font-size: 1.063rem;
    line-height: 24px;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: 0.3s all;
}
.nav-link:hover{
    color: var(--blue-light-color);
}
.navbar-nav .nav-link.active{
    color: var(--font-bold-color);
    font-weight: 800;
    font-size: 0.875rem;
    line-height: 28px;
}
.dropdown-toggle i{
    margin-left: 10px;
    font-weight: 500;
}
.dropdown-toggle::after{
    display: none;
}
.menu-item{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
@media screen and (max-width: 768px) {
    .container-fluid{
        gap: 20px;
    }
    .menu-item{
        display: none;
    }
    .navbar-collapse{
        padding-top: 100px;
        text-align: center;
    }
    .dropdown-toggle i{
        margin-left: 5px;
    }
}