.social{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.social a{
    color: #fff;
}
.social i{
    transition: 0.3s all;
    font-size: 1rem;
}
.social i:hover{
    color: var(--blue-light-color);
}